body{
  text-align: center;
  background-color:#C3E1E4;
  font-family:Arial;
  font-size: 14px;
  line-height: 1.2em;
 }

#page-wrap{
  text-align: left;
  width: 800px;
  margin: 0 auto;
}

h3{
	color: #005596;
}

a{
	color:inherit;
}

mark{
  border-radius:5px;
  color:#005596;
  background-color:white;
  padding:2px;
}

header{
    background-color:#005596;
    color:white;
    width:98%;
    padding:1%;
    line-height:30px;
    height:40px;
	overflow: hidden;
	text-align:left;
}

nav{
    line-height:40px;
    height:50px;
    background-color: #005596;
    color:white;
    width:98%;
    padding:1%;
	overflow: hidden;
}

#section-wrap {
	display: table;
    width: 100%;
    display: block;
}

section{
    display: table-cell;
    width: 85%;
    background-color:white;
    color:#4F4F4F;
    padding:5px;
}
aside{
	display: table-cell;
    width:15%;
    background-color:gray;
    color:white;
    padding:10px;
}

footer{
    background-color:#005596;
    color:white;
    clear:both;
    width: 98%;
    padding:1%;
    height:20px;
    font-size:10px;
}

